<div class="linea2"></div>
<div class="tabla_total">
  <div class="">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr class="detalle">
            <th class="detalle">#</th>
            <th class="detalle">Marca</th>
            <th class="detalle">Línea</th>
            <th class="detalle">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vehiculos">
            <td>
              <dd>{{v.id}}</dd>
            </td>
            <td>
              <dd>{{v.marca}}</dd>
            </td>
            <td>
              <dd>{{v.linea}}</dd>
            </td>
            <td>
              <dd>{{v.modelo}}</dd>
            </td>
        </tr>
        </tbody>
      </table>
    <div>
    </div>
    </div>
  </div>
</div>
